:root {
  --primaryColor: #3d8752;
  --secondaryColor: #873d3d;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  color: white;
}

body,
select {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 5em;
}

h3 {
  font-size: 3em;
  margin-bottom: 30px;
}

/* Nav */

nav {
  padding: 10px 40px;
  position: absolute;
  top: 0;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  font-size: 2em;
}

#burgerMenuContainer {
  background-color: var(--secondaryColor);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@keyframes pump {
  0%,
  40%,
  100% {
    transform: scale(1);
  }
  25%,
  60% {
    transform: scale(1.2);
  }
}

/* Banner */

.banner {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/burger.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Select */

select {
  height: 50px;
  width: 60%;
  font-size: 1.5em;
  margin-bottom: 10px;
  padding: 10px 0px 10px 10px;
  border: none;
  background-color: var(--primaryColor);
  color: white;
  cursor: pointer;
  -webkit-appearance: none;
}

select:focus {
  outline: none;
}

select:hover {
  background-color: white;
  color: var(--primaryColor);
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* Navigation */

.navigation-content {
  z-index: 1;
  background-color: var(--primaryColor);
  transition: transform 0.7s;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 4em;
}

.navigation-content li {
  margin: 5vh 5vw;
  cursor: pointer;
}

#closeBtn {
  position: absolute;
  top: 2px;
  right: 3vw;
  cursor: pointer;
}

/* Classic */

.classic {
  width: 100vw;
  height: 100vh;
  top: -100vh;
  --navigationTranslateX: 0;
  --navigationTranslateY: 100vh;
}

/* Cheese */

.cheese {
  width: 65vw;
  height: 100vh;
  top: 0;
  right: -65vw;
  --navigationTranslateX: -65vw;
  --navigationTranslateY: 0;
}

/* Extra-Pickle */

.extra-pickle {
  width: 100vw;
  height: 80px;
  top: 0;
  right: -100vw;
  --navigationTranslateX: -100vw;
  --navigationTranslateY: 0;
}

.extra-pickle ul {
  display: flex;
}

.extra-pickle ul li {
  margin: 0px 30px;
  font-size: 0.5em;
}

/* Responsive */

@media screen and (max-width: 1025px) {
  .extra-pickle {
    visibility: hidden;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 2em;
  }
  nav ul li {
    font-size: 2em;
  }
  select {
    width: 90%;
  }
  .navigation-content {
    font-size: 2.5em;
  }
}
