:root {
  --primaryColor: #3d8752;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  color: white;
}

body,
select,
button {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

button {
  background-color: green;
  border: none;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

h3 {
  margin-bottom: 30px;
}

/* Nav */

nav {
  padding: 10px 40px;
  position: absolute;
  top: 0;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  font-size: 32px;
}

#burgerMenuContainer {
  background-color: #873d3d;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#burgerMenu {
  cursor: pointer;
}

@keyframes pump {
  0%,
  40%,
  100% {
    transform: scale(1);
  }
  25%,
  60% {
    transform: scale(1.2);
  }
}

/* Banner */

.banner {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/burger.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Select */

select {
  height: 50px;
  width: 50%;
  font-size: 18px;
  margin-bottom: 10px;
  padding: 10px 0px 10px 10px;
  border: none;
  background-color: var(--primaryColor);
  color: white;
  cursor: pointer;
  -webkit-appearance: none;
}

select:focus {
  outline: none;
}

select:hover {
  background-color: white;
  color: var(--primaryColor);
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* Modal */

.navigation-container {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 0;
  font-size: 3rem;
  display: none;
}

.navigation-content {
  background-color: var(--primaryColor);
}

.navigation-content li {
  margin-bottom: 20px;
  cursor: pointer;
}

#closeBtn {
  position: absolute;
  top: 2px;
  right: 3vw;
  cursor: pointer;
}

/* Classic */

.classic {
  background-color: var(--primaryColor);
}

.classic {
  animation: classic 0.7s ease-in-out;
}

@keyframes classic {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Cheese */

.cheese {
  background-color: rgba(0, 0, 0, 0.5);
  align-items: unset;
  justify-content: flex-end;
}

.cheese .navigation-content {
  position: absolute;
  height: 100vh;
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cheese .navigation-content,
.cheese #closeBtn {
  animation: cheese 0.7s ease-in-out;
}

@keyframes cheese {
  0% {
    transform: translateX(30vw);
  }
  100% {
    transform: translateX(0px);
  }
}

/* Extra-Pickle */

.extra-pickle {
  height: auto;
}

.extra-pickle .navigation-content ul {
  display: flex;
}

.extra-pickle .navigation-content {
  height: 60px;
  width: 100%;
  position: absolute;
  top: 0;
  padding: 10px 0px 10px 30px;
}

.extra-pickle .navigation-content ul li {
  margin: 0px 30px;
  font-size: 32px;
}

.extra-pickle,
.extra-pickle #closeBtn {
  animation: extra-pickle-enter 0.7s ease-in-out;
}

@keyframes extra-pickle-enter {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes extra-pickle-end {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}

@media screen and (max-width: 1025px) {
  .extra-pickle {
    visibility: hidden;
  }
}

@media screen and (max-width: 769px) {
  .cheese .navigation-content {
    width: 50vw;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  nav ul li {
    font-size: 1rem;
  }
  select {
    width: 70%;
  }
  .cheese .navigation-content {
    width: 70vw;
    font-size: 2rem;
  }
  #burgerMenuContainer {
    height: 30px;
    width: 30px;
  }
}
