:root {
  --primaryColor: #3D8752;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  color: white;
}

body, select, button {
  font-family: 'Lato', sans-serif;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

button {
  background-color: green;
  border: none;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

h3 {
  margin-bottom: 30px;
}

/* Nav */

nav {
  background-color: black;
  padding: 10px 40px;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  font-size: 32px;
}

#burgerMenu {
  cursor: pointer;
}

/* Banner */

.banner {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/burger.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Select */

select {
  height: 50px;
  width: 50%;
  font-size: 18px;
  margin-bottom: 10px;
  padding: 10px 0px 10px 10px;
  border: none;
  background-color: var(--primaryColor);
  color: white;
  cursor: pointer;
  -webkit-appearance: none;
}

select:focus {
  outline: none;
}

select:hover {
  background-color: white;
  color: var(--primaryColor);
}

select option:hover {
  box-shadow: 0 0 10px 10px #e1358f inset;
}

/* Modal */

.modal {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 0;
  font-size: 3rem;
  display: none;
}

.modal-content li {
  margin-bottom: 20px;
  cursor: pointer;
}

#closeBtn {
  position: absolute;
  top: 0;
  right: 3vw;
  cursor: pointer;
}

/* Modal Classic */

.modal-classic {
  background-color: var(--primaryColor);
}

/* Modal Cheese */

.modal-cheese .modal-content {
  background-color: var(--primaryColor);
  position: absolute;
  height: 100vh;
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-cheese .modal-content, .modal-cheese #closeBtn {
  animation: slide 0.7s ease-in-out;
}

@keyframes slide {
  0% {
    transform: translateX(30vw);
  }
  100% {
    transform: translateX(0px);
  }
}

.modal-cheese {
  background-color: rgba(0, 0, 0, 0.5);
  align-items: unset;
  justify-content: flex-end;
}

@media screen and (max-width: 769px) {
  .modal-cheese .modal-content {
    width: 50vw;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  nav ul li {
    font-size: 1rem;
  }
  select {
    width: 70%;
  }
  .modal-cheese .modal-content {
    width: 70vw;
    font-size: 2rem;
  }
}